.container {
  background-color: #3c91e6;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.center{
padding: 10%;
}

h1 {
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login{
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #3c91e6;
  padding: 50px;
  margin: 0px 30%;
  border-radius: 10px;
}

.login label {
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Arvo", serif;
  font-weight: 600;
  font-size: 25px;
}

 .sign-up label {
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Arvo", serif;
  font-weight: 600;
  font-size: 25px;
}

label:first-of-type{
  padding-top: 0;
}

.login input{
  /* align-items: center;
  justify-content: center;
  display: flex; */
  margin:  10px 10px 0px 40px;
  text-align: center;
}

.sign-up input{
  /* align-items: center;
  justify-content: center;
  display: flex; */
  margin:  10px 10px 0px 40px;
  text-align: center;
}

.btn{
  background-color: #FFA400;
  color: #edede9;
  border: none;
  padding: 10px 20px;
  margin: 10px 15px;
  border-radius: 16px;
}

p{
  left: 0;
}


.sign-up{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #3c91e6;
  padding: 50px;
  margin: 0px 30%;
  border-radius: 10px;
}

.sign-up input{
  align-items: center;
  justify-content: center;
  display: flex;
}

.sign-up.btn{
  background-color: #FFA400;
  color: #edede9;
  border: none;
  padding: 10px 20px;
  margin: 10px 15px;
  border-radius: 16px;
}

.btn-div{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#login-submit {
  margin-left: 15px;
}

form {
  align-items: center;
  justify-content: center;
}

/* .btn {
  font-family: 'Arvo', serif !important;
  font-weight: 300 !important;
  font-size: 15px !important;
  background-color: #FFA400 !important;
  color: #edede9 !important;
  border: none !important;
  border-radius: 16px !important;
  padding: 10px 20px !important;
  margin: 0px 20px !important;
} */