.form{
  text-align: left;
}
.active_form{
  font-family: 'Arvo', serif;
}


span {
  font-family: 'Arvo', serif;
  font-size: 25px;
  color: #3C91E6;
  margin-left: 10px;
}
.add {
  margin-left: 10%;
  font-size: 30px;
  color: #FFA400;
}

.add:hover{
  color: #fad592;
}