.header{
  display: flex;
  justify-content: space-around;
  background-color: #3C91E6;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  overflow: hidden;
}
li{
  display: inline;
  text-align: right;
}

ul{
  margin: 0;
  padding: 20px;
}

#logo{
  font-size: 50px;
  text-align: left;
  padding: 0px 10px 0px 10px;
  margin: 10px;
}

.nav-items{
  display: flex;
}

button{
  font-family: 'Arvo', serif;
  font-weight: 300;
  font-size: 15px;
  background-color: #FFA400;
  color: #edede9;
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
  margin: 0px 20px;
}

button:hover{
  background-color: #fad5
}

.log-drop{
  overflow: hidden;
}

.login{
  position: absolute;;;
}

.reg-drop{
  overflow: hidden;
}
.register{
  position: absolute;
}
