.log-cont{
  align-items: center;
  padding: 5px;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid black;
  border-radius: 15px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: all 0.5s ease;
}
label{
  color: #3C91E6;
}


#login {
  position: relative !important;
  font-family: 'Arvo', serif !important;
  font-weight: 300 !important;
  font-size: 10 px !important;
  background-color: #FFA400 !important;
  color: #edede9 !important;
  border: none !important;
  border-radius: 16px !important;
  padding: 10px 20px !important;
  margin: 10px 20px !important;
}

button{
  margin-top: 5px;
}